<h1>New Bat</h1>
<p>Enter info</p>
<%= form_tag "/products", method: :post do %>
<div class="form-group">
  Name: <input type="text" class="form-control" name="name">
</div>
<div class="form-group">
  Color: <input type="text" class="form-control" name="color">
</div>
<div class="form-group">
  Disposition: <input type="text" class="form-control" name="disposition">
</div>
<div class="form-group">
  Image: <input type="text" class="form-control" name="image">
</div>
<div class="form-group">
  Price: <input type="text" class="form-control" name="price">
</div>
<input type="submit" value="Create Bat!">
<% end %>